// Colors

$color-green-1: #7ed56f;
$color-green-2: #55c57a;
$color-green-3: #28b485;

$color-blue-1: #95ccff;
$color-blue-2: #01b4e4;
$color-blue-3: #0d253f;

$color-orange-1: #ffb900;
$color-orange-2: #ff7730;
$color-orange-3: #ff4500;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey: #777;

$color-white-1: #fff;
$color-white-2: #dcdcdc;
$color-white-3: #dcdcc8;

$color-black: #000;

// Font Sizes
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
